<header>
  <div class="login">
    <% if current_user %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Log In", new_session_path %> |
      <%= link_to "Register", new_user_path %>
    <% end %>
  </div>

  <div class="pepperoni">
    <h1><%= link_to "Welcome to Mister Pizza!", root_path %></h1>
  </div>

  <nav>
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
    <% end %>
  </nav>

  <p>
    <% if session[:cart] %>
      Cart: <%= session[:cart] %>
      <%= link_to "Items in Cart:", cart_items_path %>
      <%= session[:cart].values.reduce(0, :+) %>
    <% else %>
      Items in Cart: 0
    <% end %>
  </p>
</header>
