<h1>Order Details</h1>
<p>
Customer: <strong><%= current_user.first_name %></strong>
          <strong><%= current_user.last_name %></strong>
<p>
  Order Number: <%= @order.id %>
</p>
<p>
  Order Status: <%= @order.status %>
</p>
<p>
<table>
  <tr>
    <td>Item ID</td>
    <td>Item Name</td>
    <td>Quantity</td>
    <td>Unit Price</td>
    <td>Subtotal</td>
  </tr>
  <% @order.line_items.each do |lineitem| %>
    <tr>
      <p>
        <td><%= lineitem.item_id %></td>
        <td><%= link_to lineitem.item_name(lineitem.item_id), item_path(lineitem.item) %></td>
        <td><%= lineitem.quantity %></td>
        <td>$<%= lineitem.price(lineitem.item_id) %></td>
        <td>$<%= lineitem.subtotal(lineitem.item_id, lineitem.quantity) %></td>
      </p>
    </tr>
  <% end %>
</table>
</p>
