<h1>Cart Details</h1>
<p>
  <% if current_user %>
    <%= button_to "Checkout", user_orders_path(user_id: current_user.id) %>
  <% else %>
      You must be logged in to checkout
  <% end %>
</p>

<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Unit Price</td>
    <td>Quantity</td>
    <td>Sub-Total</td>
    <td></td>
  </tr>
  <% if @cart.any? %>
    <% @cart.each do |id, quantity| %>
      <% item = Item.find(id) %>
      <tr>  
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td>$<%= item.price/100 %></td>
        <td><%= quantity %></td>
        <td>$<%= (quantity * item.price) / 100 %>
        <td><%= button_to "Remove From Cart", cart_item_path(item.id), method: :delete %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>total goes here</td>
      </tr>
  <% else %>
    <p>
      There are no items in your cart
    </p>
  <% end %>
</table>
