<h1>Cart Details</h1>
<p>
  <% if current_user && cart != {} %>
    <%= button_to "Checkout", user_orders_path(user_id: current_user.id) %>
  <% elsif current_user.nil? && cart != {} %>
    <h3>You must be logged in to checkout</h3>
  <% end %>
</p>

<table>
  <% if cart.any? %>
  <tr>
    <td>Name</td>
    <td>Unit Price</td>
    <td>Quantity</td>
    <td>Sub-Total</td>
  </tr>

    <% cart.each do |id, quantity| %>
      <% item = Item.find(id) %>
      <tr>  
        <td><%= link_to item.name, item_path(item) %></td>
        <td>$<%= item.price/100 %></td>
        <td><%= quantity %></td>
        <td>$<%= (quantity * item.price) / 100 %>
        <td><%= button_to "+", cart_item_path(item.id, 1), method: :put  %></td>
        <td><%= button_to "-", cart_item_path(item.id, 0), method: :put %></td>
        <td><%= button_to "Remove From Cart", cart_item_path(item.id), method: :delete %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>total price goes here </td>
      </tr>
  <% else %>
    <p>
      There are no items in your cart
    </p>
  <% end %>
</table>
