<!DOCTYPE html>
<html>
  <body>
    <header>
      <%= render "partials/header" %>
    </header>
    <%= @category.name %>
    <ul>
      <% @category.items.each do |item| %>
        <li>
        <%= link_to item.name, item_path(item) %>
        </li>
        <li>
        <%= item.description %>
        </li>
        <li>
        $<%= item.price/100 %>
        </li>
        <%= button_to "Add To Cart", cart_items_path(item_id: item.id) %>
      <% end %>
    </ul>
  </body>
</html>


